.hero-container{
    background: url('../webimages/img-home.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.hero-container >h1{
    font-size: 80px;
    color: white;
  
    text-align: center;
}
.hero-container>p{
    color: white;
    font-size: 30px;
  
}
.hero-btns {
    display: flex;
    align-items: center;
  margin-top: 20px;
}
.hero-btns .btns{
    margin: 6px;
}
@media screen  and(max-width:960px){
    .hero-container>h1{
        font-size: 60px;
       
    }
}
@media screen  and (max-width:768px){
    .hero-container>h1{
        font-size: 50px;
    
    }
    .hero-container>p{
        font-size: 25px;
    }
    .hero-btns{
        display:flex;
       flex-direction: column;
    }
   
}